
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div> 
        <h2> using ViewBag,Data's being transferred to Controller via View @ViewBag.Username</h2>
    </div>
</body>
</html>
